*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ヘッダー*/
header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-area{
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.header-logo img{
  display: flex;
  width: 150px;
  height: auto;
}

.nav-list{
  width: 874px;
  display: flex;
  justify-content: flex-end;
}

.nav-list-item{
  list-style: none;
  font-size: 16px;
  color: #FAFAFA;
  line-height: 70px;
  margin: 0 30px;
}

/*メインビジュアル*/
.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
}

.visual-title{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
}

.visual-body{
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

/*ポートフォリオ*/
.background{
  width: 100%;
  background-color: #ECEFF1;
}

.main-portfolio{
  width: 920px;
  margin: 0 auto;
}

.portfolio-title{
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.portfolio-title::after{
  content: '';
  position: relative;
  bottom: -16px;
  height: 3px;
  width: 70px;
  display: inline-block;
  background-color: #EC715F;
  left: calc(-100px);
}

.portfolio-body{
  font-size: 16px;
  color: #000000;
  margin: 30px auto;
  text-align: center;
}

.portfolio-contents{
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-visual img{
  width: 300px;
  height: 250px;
}

.portfolio-visual img:nth-child(1), portfolio-visual img:nth-child(2){
  padding-right: 10px;
  padding-bottom: 10px;
}

.portfolio-visual img:nth-child(3){
  padding-bottom: 10px;
}

.portfolio-visual img:nth-child(4), portfolio-visual img:nth-child(5){
  padding-right: 10px;
}

/*フィーチャー*/
.main-feature{
  width: 980px;
  margin: 0 auto;
}

.feature-title{
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.feature-title::after{
  content: '';
  position: relative;
  bottom: -16px;
  height: 3px;
  width: 70px;
  display: inline-block;
  background-color: #EC715F;
  left: calc(-100px);
}

.feature-body{
  font-size: 16px;
  color: #000000;
  margin: 30px auto;
  text-align: center;
}

.feature-contents{
  display: flex;
}

.strength-logo{
  font-size: 60px;
  text-align: center;
}

.feature-strength{
  width: 320px;
  padding-bottom: 90px;
}

.feature-strength:nth-child(2){
  margin-left: 10px;
  margin-right: 10px;
}

.strength-title{
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 10px auto;
}

.strength-text{
  font-size: 16px;
  color: #000000;
}

/*プロフィール*/
/*背景色はポートフォリオで指定済み*/
.profile{
  width: 1024px;
  margin: 0 auto;
}

.profile-title{
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.profile-title::after{
  content: '';
  position: relative;
  bottom: -16px;
  height: 3px;
  width: 70px;
  display: inline-block;
  background-color: #EC715F;
  left: calc(-100px);
}

.profile-body{
  font-size: 16px;
  color: #000000;
  margin: 30px auto;
  text-align: center;
}

.profile-contents{
  display: flex;
  padding-bottom: 90px;
}

.profile-image{
  width: 512px;
  text-align: center;
}

.profile-image img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.introduction{
  width: 512px;
}

.introduction-title{
  font-size: 20px;
  margin-bottom: 5px;
}

.introduction-body{
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

/*コンタクト*/

/*フッター*/
footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F
}

.footer-text{
  font-size: 16px;
  color: #FAFAFA;
  line-height: 60px;
  text-align: center;
}